/* Default font for this website */
@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel/static/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel/static/Cinzel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel/static/Cinzel-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
}

body {
    margin: 0;
    padding-top: 3%;
    font-family: 'Cinzel', serif;
}

header {
    display: grid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 2% 20px;
    background-color: rgb(235, 38, 38);
}

header .logo {
    grid-column: 1;
    margin-left: 0.6em;
    font-weight: bolder;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

header nav {
    justify-self: end;
    margin-right: 3em;
    text-align: center;
}

header nav a {
    margin-left: 2vw;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
}

.section {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    height: 50vh;
    padding-bottom: 50px;
    padding-left: 1.1em;
    padding-right: 1.1em;
    text-align: center;
}

#first-section {
    background-image: url('../images/dumpling.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 8vh;
}

#second-section {
    background-image: url('../images/eggroll.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#third-section {
    background-image: url('../images/chineselanterns.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.section h2 {
    font-weight: bold;
    font-size: 3em;
    color: white;
}

.section p {
    font-weight: normal;
    text-align: center;
    color: white;
    font-size: 0.85em;
}

.section a {
    font-weight: bold;
    color: #FFD700;
    text-decoration: none;
    font-size: 1.1em;
}

.section a:hover {
    text-decoration: underline;
    color: #FFA500;
}

footer {
    display: grid;
    font-family: 'Cinzel', serif;
    background-color: black;
    color: white;
    padding-top: 1.2em;
    padding-left: 1em;
    padding-right: 1.5em;
    padding-bottom: 0.2em;
}

footer h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

footer p, a {
    margin: 0;
    font-size: 0.7em;
    font-weight: normal;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
    color:rgb(235, 38, 38);
}

.footer-content {
    padding: 0.5em;
}

.quick-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: center;
    list-style-type: none;
    justify-items: center;
    width: auto;
    margin: 0 auto;
    padding: 0.5em;
    gap: 1em;
    padding-top: 0.5em;
}

.social-icons {
    align-items: center;
    text-align: center;
}

.fa {
    margin: 1.2em;
    padding: 1.8em;
    font-size: 2rem;
    width: 1em;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin-top: 0;
    margin-left: 5em;
    margin-right: 5em;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1400px;
    box-sizing: border-box;
    padding: 2em;
    margin-top: 5em;
    width: 100%;
}

.contact-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    min-height: 30vh;
    height: 70vh;
    text-align: center;
}

.contact-section h2 {
    font-weight: bold;
    font-size: 2rem;
}

.contact-section a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.contact-section a:hover {
    color:rgb(235, 38, 38);
    text-decoration: underline;
}

.contact-section p {
    font-weight: normal;
}

#contact-body {
    background-color: lightgray;
}

#about-body {
    background-color: lightgray;
}

.about-container {
    margin-top: 6em;
    margin-left: 2em;
    margin-right: 2em;
    min-height: 30em;
}

.about-container h2 {
    font-size: 2rem;
}

.about-container p {
    font-size: 0.9rem;
}

.about-section {
    text-align: center;
}

.map-section {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    min-height: 20%;
    overflow: hidden;
    max-width: 100%;
    max-height: 40%;
}

.map-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 800px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 5em;
    }

    .map-section {
        order: -1;
        padding-bottom: 75%;
        height: 5%;
        margin-top: 0.5em;
    }
}

.menu-section {
    box-sizing: border-box;
}

/* Image carousel container */
.image-carousel {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.my-slides {
    display: none;
}

.my-slides img {
    max-height: 75em;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -2em;
    padding: 1em;
    color: rgb(235, 38, 38);
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, adds a background color */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slide-text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}